.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.buttonText {
  font-size: 3em;
}

#numDisplay {
  height: 12em;
  vertical-align: bottom;
  text-align: right;
}

#displayDiv {
  font-size: 5em;
  word-wrap: break-word;
}

td {
  border: 1px solid black;
  height: 7em;
  width: 7em;
  text-align: center;
}

.highlightOn:hover {
  background-color: #ccc;
}

table {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 1em 1em;
}

#multiplyButton {
  font-family: sans-serif;
}

@media only screen and (min-width: 30em) and (max-width: 80em){
  body {
    font-size: 1.3em;
  }
  #numDisplay {
    height: 15em;
  }
  #displayDiv {
    font-size: 5em;
  }
  .buttonText {
    font-size: 3em;
  }
  td {
    height: 10em;
    width: 10em;
  }
}
